{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "globals": {
    "document": true,
    "foo": true,
    "window": true,
    "navigator": true,
    "fetch": false
  },
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "storybook/**"
        ]
      }
    ],
    "react/prop-types": ["error", { "ignore": ["navigation", "dispatch"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js",".jsx",".vue"]
      }
    }
  }
}